RewriteEngine on
RewriteCond %{HTTP_HOST} ^members.bestprague.cz
RewriteRule ^(.*)$ http://members.bestprague.cz/www/$1 [L,NC,QSA]

RewriteCond %{HTTP_HOST} ^members-test.bestprague.cz
RewriteRule ^(.*)$ http://members-test.bestprague.cz/www/$1 [L,NC,QSA]