<div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>Člen</th>
            <th>Počet mrkví</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
</div>
