{block content}
<div class="pane">

    <div style="text-align:center; margin:auto">
    <h2 style="margin-bottom: 60px">
    Databáze členů LBG Awesome Prague
    </h2>

    <a class="btn btn-block btn-social btn-google login" n:href="googleLogin-open!">
        <span class="fa fa-google"></span> Přihlásit se přes Google účet
    </a>
    <div style="margin-top: 30px">
        Účet by měl odpovídat tvému mailu v mailing listu.
    </div>
    </div>

    
</div>
