.admin {
    margin: auto;
    width: 50%;
}

.admin h4 {
    text-align: center;
}

.board {
    margin: auto;
    margin-top: 25px;
    width: 80%;
    text-align: center;
}

.board h4 {
    margin-top: 20px;
}

.board-person {
    padding-top: 20px;
}


.btn-admin {
    margin: auto;
    width: 100%;
}

.graph-small {
    width: 450px;
}

.login {
    margin: auto;
    margin-top: 20px;
    width: 30%;
}

.modal {
    margin: auto;
}

.navbar-brand {
  padding-top: 5px;
  padding-right: 20px;
}

.nominations {
    margin: auto;
    width: 90%;
    text-align: center;
}

.pane {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.profile {
    margin: auto;
    width: 50%;
}

.profile-left {
    width: 45%; 
    float: left;
    margin-left: 20px;
} 

.profile-right {
    width: 30%; 
    float: left;
} 

.profile h2 {
    margin-left:20px;
}

.profile h4 {
    margin-top:20px;
}

.tool {
    margin: auto;
    margin-top: 25px;
    width: 60%;
    text-align: center;
}

body {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background: white;
}

h1 {
    color: #3484D2;
}

#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../images/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}

div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 1em;
    margin: 1em 0;
}

a[href^="#error:"] {
    background: red;
    color: white;
}

form th, form td {
    vertical-align: top;
    font-weight: normal;
}

form th {
    text-align: right;
}

form .required label {
    font-weight: bold;
}

form .error {
    color: #D00;
    font-weight: bold;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.hof-image {
    position: relative;
}

.hof-image img {
    width: 90px;
    height: 90px;
}

.board-image img {
    width: 75px;
    height: 75px;
}